<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="register" appConnect="local" components="{dmxValidator:{},dmxBrowser:{},dmxNotifications:{}}" -->
<dmx-notifications id="notifies1"></dmx-notifications>
<div is="dmx-browser" id="browser1"></div>
<meta name="ac:route" content="/register">
<div class="container">
    <form id="register1" is="dmx-serverconnect-form" method="post" action="/api/registration/register" dmx-on:success="notifies1.success('The registration complete!');browser1.goto('/',true,'Main menu')" dmx-on:error="notifies1.danger('There was an error !')" dmx-on:unauthorized="notifies1.warning('Unauthorised Server action!')">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="row">
                    <div class="col text-center">
                        <h1>Register</h1>
                        <p class="text-h3">Enter your registration details below.</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col mt-4">
                        <input type="text" id="inp_firstname" name="firstname" class="form-control" placeholder="First Name" required="">
                    </div>
                    <div class="col mt-4">
                        <input type="text" id="inp_last_name" name="lastname" class="form-control" placeholder="Last Name" required="">
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="email" id="inp_email" name="email" class="form-control" placeholder="Email" required="" data-rule-email="">
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="password" id="inp_password" name="password" class="form-control" placeholder="Password" required="" minlength="8">
                    </div>
                    <div class="col">
                        <input type="password" id="inp_password2" name="password2" class="form-control" placeholder="Confirm Password" data-rule-equalto="password">
                    </div>
                </div>
                <div class="row justify-content-start mt-4">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                I Read and Accept <a href="#">Terms and Conditions</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start mt-4">
                    <div class="col">
                        <button id="register1_submit1" class="btn mt-4 btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>